main {
  background-image: url("../assets/images/Background_Intro.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 1040px;
  padding-top: 120px;
  margin: 0 auto;
}

.intro-inner {
  max-width: 680px;
  margin: 0 auto;
}

.intro-inner img {
  margin-bottom: 56px;
  height: auto;
}

.intro-inner h2 {
  font: var(--subtitle);
  padding-bottom: 8px;
  color: var(--brand-base-gray-200);
}

.intro-inner h1 {
  font: var(--title-lg);
  margin-bottom: 20px;
  color: var(--brand-base-gray-100);
}

.intro-inner p {
  font: var(--text-sm);
  color: var(--brand-base-gray-300);
  margin-bottom: 80px;
}

.intro-inner span {
  color: var(--brand-primary-red);
}
